<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sif.community.dao.AdminDao">

	<update id="update_user_from_admin">
		UPDATE `tbl_users`
		SET
			`enabled` = #{enabled},
			`nickname` = #{nickname},
			`email` = #{email},
			`phone` = #{phone},
			`age` = CONCAT( #{year}, '-', #{month}, '-', #{day} )
		WHERE `username` = #{username}
	</update>
	
</mapper>